<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>StackOverflow DataAnalyzer</title>
    <script src="/js/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>
    <link href='../static/css/test-1024.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/test-1024.js"></script>
</head>

<body>
<div class="container-header">
    <ul class="nowTime">
        <li></li>
        <li></li>
    </ul>
    <div class="location">
        <i class="icon iconfont icon-buoumaotubiao23"></i>
        <span class="areaName"></span>
    </div>
    <h3>StackOverflow DataAnalyzer</h3>
</div>
<div class="container-content">
    <div class="top">
        <div class="count-base">
            <div class="com-count-title">已回答的问题数</div>
            <div class="com-screen-content">
                <div id="main1" style="width:100%;height:150px;"></div>
                <div class="horizontal-container">
                    <div id="main1-1" style="width:50%;height:150px;"></div>
                    <div id="main1-2" style="width:50%;height:150px;"></div>
                </div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
        <div class="count-resource q1">
            <div class="com-count-title">回答数</div>
            <div class="com-screen-content2">
                <ul class="use-data">
                    <li>
                        <p id="averageValue" class="data-count"></p>
                        <span class="data-name">总平均值</span>
                    </li>
                    <li>
                        <p id="maxValue" class="data-count"></p>
                        <span class="data-name">总最大值</span>
                    </li>
                </ul>
                <div class="com-screen-content">
                    <div id="main2" style="margin-top:10px;width:100%;height:240px;"></div>
                </div>
                <span class="left-top"></span>
                <span class="right-top"></span>
                <span class="left-bottom"></span>
                <span class="right-bottom"></span>
            </div>
        </div>
        <div class="count-resource q2">
            <div class="com-count-title">tags</div>


            <div class="com-screen-content">
                <ul class="data-label">
                    <li class="active" data-type="1">和"java"一起出现</li>
                    <li data-type="2">最多upvotes</li>
                    <li data-type="3">最多views</li>
                </ul>
                <div id="main3" style="margin-top:10px;width:100%;height:240px;"></div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
    </div>
    <div class="mid">
        <div class="count-share w1">
            <div class="com-count-title">活跃用户</div>
            <div class="com-screen-content">
                <div class="topRec_List">
                    <dl>
                        <dd>参与 java thread 讨论最活跃的6个用户(参与讨论次数最多)</dd>
                    </dl>
                    <div class="maquee">
                        <ul>
                            <li>
                                <div id="dynamicText1"></div>
                            </li>
                            <li>
                                <div id="dynamicText2"></div>
                            </li>
                            <li>
                                <div id="dynamicText3"></div>
                            </li>
                            <li>
                                <div id="dynamicText4"></div>
                            </li>
                            <li>
                                <div id="dynamicText5"></div>
                            </li>
                            <li>
                                <div id="dynamicText6"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
        <div class="count-share w2">
            <div class="com-count-title">在 Stack Overflow 上最频繁被讨论的Java APIs</div>
            <div class="com-screen">
                <div id="main1-3" style="width:100%;height:300px;"></div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
        <div class="count-share w3">
            <div class="com-count-title">问题提出到解决的时间间隔(y轴：个数/x轴：秒)</div>
            <div class="com-screen-content">
                <div id="main5" style="width:100%;height:300px;"></div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
    </div>

    <div class="bottom">
        <div class="count-topic e1">
            <div class="com-count-title">用户参与java thread讨论的分布</div>
            <div class="com-screen-content">
                <div id="main6" style="width:100%;height:300px;"></div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
        <div class="count-topic e2">
            <div class="com-count-title">answers分布</div>
            <div class="com-screen-content">
                <div id="main7" style="width:100%;height:300px;"></div>
            </div>
            <span class="left-top"></span>
            <span class="right-top"></span>
            <span class="left-bottom"></span>
            <span class="right-bottom"></span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
//根据不同的分辨率调用不同的css和js

	    document.write("<link href='/css/test-1024.css' rel='stylesheet' type='text/css'>");

		document.writeln("<script type=\"text/javascript\" src=\"/js/test-1024.js\"><\/script>");


</script>
<!--大屏-->
<script type="text/javascript">
	  function autoScroll(obj){
			$(obj).find("ul").animate({
				marginTop : "-39px"
			},500,function(){
				$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
			})
		}
		$(function(){
			updateDynamicText();
			setInterval('autoScroll(".maquee")',2000);
		})
	  function updateDynamicText() {
		  // 调用后端方法获取动态文本
		  $.ajax({
			  url: "/most-active-users", // 替换为实际的后端接口地址
			  success: function (data) {
				  // 将返回的字符串设置到相应的 <div> 元素中
				  $('#dynamicText1').text("1."+data[0]);
				  $('#dynamicText2').text("2."+data[1]);
				  $('#dynamicText3').text("3."+data[2]);
				  $('#dynamicText4').text("4."+data[3]);
				  $('#dynamicText5').text("5."+data[4]);
				  $('#dynamicText6').text("6."+data[5]);
			  }
		  });
	  }

</script>
//三个饼状图
<script>
	var myChart1=echarts.init(document.getElementById('main1'));
	function updateChart(){
		$.ajax({
			url:"/percentage-of-questions-with-accepted-answers",
			success:function (data) {
				var values=data.split(" ");
				option = {
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					color: ['#8fc31f', '#f35833', '#00ccff', '#ffcc00', '#f5e965', '#a74faf', '#ff9668'],
					series: [
						{
							name: '',
							type: 'pie',
							radius: '45%',
							center: ['50%', '50%'],
							data: [
								{value: parseInt(values[0]), name: '有accepted answer的问题'},
								{value: parseInt(values[1]), name: '没有accepted answer的问题'},
							],
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							},
							itemStyle: {
								normal: {
									label: {
										show: true,
										//	                            position:'inside',
										formatter: '{b} : {c} ({d}%)',
										fontSize: 12,    //文字的字体大小
										color: 'inherit'
									}
								},
								labelLine: {show: true}
							}
						}
					]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart1.setOption(option);
			}
		});
	}
	// 初始加载图表并定时更新
	updateChart();
	setInterval(updateChart, 50000); // 每5秒更新一次图表

</script>
<script>
	var myChart1_1=echarts.init(document.getElementById('main1-1'));
	function updateChart(){
		$.ajax({
			url:"/percentage-of-questions-without-answers",
			success:function (data) {
				var values=data.split(" ");
				option = {
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					color: [ '#00ccff', '#ffcc00', '#f5e965', '#a74faf', '#ff9668'],
					series: [
						{
							name: '',
							type: 'pie',
							radius: '45%',
							center: ['50%', '50%'],
							data: [
								{value: parseInt(values[0]), name: '没有answer的问题'},
								{value: parseInt(values[1]), name: '有answer的问题'},
							],
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							},
							itemStyle: {
								normal: {
									label: {
										show: true,
										//	                            position:'inside',
										formatter: '{b} : {c} ({d}%)',
										fontSize: 12,    //文字的字体大小
										color: 'inherit'
									}
								},
								labelLine: {show: true}
							}
						}
					]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart1_1.setOption(option);
			}
		});
	}
	// 初始加载图表并定时更新
	updateChart();
	setInterval(updateChart, 50000); // 每5秒更新一次图表

</script>
<script>
	var myChart1_2=echarts.init(document.getElementById('main1-2'));
	function updateChart1_2(){
		$.ajax({
			url:"/percentage-of-questions-with-non-accepted-answers-having-more-upvote",
			success:function (data) {
				var values=data.split(" ");
				option = {
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b} : {c} ({d}%)"
					},
					color: [  '#f5e965', '#a74faf', '#ff9668'],
					series: [
						{
							name: '',
							type: 'pie',
							radius: '45%',
							center: ['50%', '50%'],
							data: [
								{value: parseInt(values[0]), name: '含有non-accepted answer的upvote数高于accepted answer的问题'},
								{value: parseInt(values[1]), name: '其他'},
							],
							itemStyle: {
								emphasis: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								}
							},
							itemStyle: {
								normal: {
									label: {
										show: true,
										//	                            position:'inside',
										formatter: '{b} : {c} ({d}%)',
										fontSize: 12,    //文字的字体大小
										color: 'inherit'
									}
								},
								labelLine: {show: true}
							}
						}
					]
				};
				// 使用刚指定的配置项和数据显示图表。
				myChart1_2.setOption(option);
			}
		});
	}
	// 初始加载图表并定时更新
	updateChart1_2();
	setInterval(updateChart1_2, 5000); // 每5秒更新一次图表

</script>
//显示最大值和平均值
<script>
	// 获取数值的方法，这里仅作示例，你需要根据实际情况替换为正确的数值获取逻辑
	function getAverageValue(callback) {
		$.ajax({
			url: "/average-number-of-answers",
			success: function (data) {
				callback(data);
			}
		});
	}

	function getMaxValue(callback) {
		$.ajax({
			url: "/maximum-number-of-answers",
			success: function (data) {
				callback(data);
			}
		});
	}

	// 更新数值的方法
	function updateValues() {
		// 获取总平均值和总最大值的元素
		var averageValueElement = document.getElementById("averageValue");
		var maxValueElement = document.getElementById("maxValue");

		// 获取数值并更新元素内容
		getMaxValue(function (maxValue) {
			maxValueElement.innerText = maxValue;
		});

		getAverageValue(function (averageValue) {
			averageValueElement.innerText = averageValue;
		});
	}
	updateValues();
	setInterval(updateValues, 50000); // 每5秒更新一次图表

</script>
//显示最大值和平均值的分布图
<script>
	var myChart2 = echarts.init(document.getElementById('main2'));
	function getAverage(callback) {
		$.ajax({
			url: "/average-number-distribution-of-answers",
			success: function (data) {
				callback(data);
			}
		});
	}
	function getMax(callback) {
		$.ajax({
			url: "/maximum-number-distribution-of-answers",
			success: function (data) {
				callback(data);
			}
		});
	}
	var avgCnt = [];
	var maxCnt = [];
	var years = [];
	getAverage(function (data){
		years = Object.keys(data);
		avgCnt = years.map(function (key) {
			return data[key];
		});
		// 调用第二个异步请求
		getMax(function (data1) {
			maxCnt = Object.values(data1);

			// 处理完所有数据后执行图表更新操作
			updateChart2();
		});
	});
	function updateChart2() {

		option = {

			tooltip: {
				trigger: 'axis',
				formatter: function (params, ticket, callback) {
					var res = '';
					for (var i = 0, l = params.length; i < l; i++) {
						res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
					}
					return res;
				},
				transitionDuration: 0,
				backgroundColor: 'rgba(83,93,105,0.8)',
				borderColor: '#535b69',
				borderRadius: 8,
				borderWidth: 2,
				padding: [5, 10],
				axisPointer: {
					type: 'line',
					lineStyle: {
						type: 'dashed',
						color: '#ffff00'
					}
				}
			},
			legend: {
				icon: 'circle',
				itemWidth: 8,
				itemHeight: 8,
				itemGap: 10,
				top: '16',
				right: '10',
				data: ['平均值','最大值'],
				textStyle: {
					fontSize: 10,
					color: '#a0a8b9'
				}
			},
			grid: {
				top:'46',
				left: '13%',
				right: '10',
				//bottom: '10%',
				containLabel: false
			},
			xAxis: [{
				type: 'category',
				boundaryGap: false,
				axisLabel: {
					interval: 0,
					fontSize:10
				},
				axisLine: {
					show: false,
					lineStyle: {
						color: '#a0a8b9'
					}
				},
				axisTick: {
					show: false
				},
				data: years,
				offset: 10
			}],
			yAxis: [{
				type: 'value',
				axisLine: {
					show: false,
					lineStyle: {
						color: '#a0a8b9'
					}
				},
				axisLabel: {
					margin: 10,
					textStyle: {
						fontSize: 10
					}
				},
				splitLine: {
					lineStyle: {
						color: '#2b3646'
					}
				},
				axisTick: {
					show: false
				}
			}],
			series: [{
				name: '平均值',
				type: 'line',
				smooth: true,
				showSymbol: false,
				lineStyle: {
					normal: {
						width: 2
					}
				},
				areaStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: 'rgba(137, 189, 27, 0.3)'
						}, {
							offset: 0.8,
							color: 'rgba(137, 189, 27, 0)'
						}], false),
						shadowColor: 'rgba(0, 0, 0, 0.1)',
						shadowBlur: 10
					}
				},
				itemStyle: {
					normal: {
						color: '#1cc840'
					}
				},
				data: avgCnt
			}, {
				name: '最大值',
				type: 'line',
				smooth: true,
				showSymbol: false,
				lineStyle: {
					normal: {
						width: 2
					}
				},
				areaStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: 'rgba(219, 50, 51, 0.3)'
						}, {
							offset: 0.8,
							color: 'rgba(219, 50, 51, 0)'
						}], false),
						shadowColor: 'rgba(0, 0, 0, 0.1)',
						shadowBlur: 10
					}
				},
				itemStyle: {
					normal: {
						color: '#eb5690'
					}
				},
				data: maxCnt
			}
			]
		};
		myChart2.setOption(option);
	}
	// 初始加载图表并定时更新
	updateChart2();
	setInterval(updateChart2, 50000); // 每5秒更新一次图表

</script>
//tags三个词云
<script>
	var myChart3 = echarts.init(document.getElementById('main3'));
	function getWithJavaTags(callback) {
		$.ajax({
			url: "/frequent-tags",
			success: function (data) {
				callback(data);
			}
		});
	}
	function getUpvoteTags(callback) {
		$.ajax({
			url: "/most-upvoted-tags",
			success: function (data) {
				callback(data);
			}
		});
	}
	function getViewTags(callback) {
		$.ajax({
			url: "/most-viewed-tags",
			success: function (data) {
				callback(data);
			}
		});
	}
	var java_data =new Map() ;
	var upvotes_data =new Map();
	var view_data =new Map() ;

	function initWordcloud(data1) {
		var key = Object.keys(data1);
		var value = key.map(function (k) {
			return data1[k];
		});
		var values = [];
		for (var j = 0; j < key.length; j++) {
			values.push({
				'name':key[j],
				'value':value[j]
			})
		}
		option = {
			tooltip: {trigger: 'axis',
				formatter: function (params, ticket, callback) {
					var res = '';
					for (var i = 0, l = params.length; i < l; i++) {
						res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
					}
					return res;
				},
				transitionDuration: 0,
				backgroundColor: 'rgba(83,93,105,0.8)',
				borderColor: '#535b69',
				borderRadius: 8,
				borderWidth: 2,
				padding: [5, 10],
				axisPointer: {
					type: 'line',
					lineStyle: {
						type: 'dashed',
						color: '#ffff00'
					}
				}},
			series: [{
				type: 'wordCloud',
				shape: {
					cloudGrow: 0.2
				},
				sizeRange: [10, 60],
				rotationRange: [-30, 30],
				gridSize: 2,
				drawOutOfBound: false,
				layoutAnimation: true,
				keepAspect: true,
				textStyle: {
					fontWeight: 'bold',
					color: function () {
						return 'rgb(' + [
							Math.round(Math.random() * 160),
							Math.round(Math.random() * 160),
							Math.round(Math.random() * 160)
						].join(',') + ')';
					}
				},
				emphasis: {
					textStyle: {
						shadowBlur: 15,
						shadowColor: '#333'
					}
				},
				data: values
			}]
		};
		myChart3.setOption(option);
	}
	var resourceDataType = $('.data-label li.active').data('type');//用于切换基础库
	function urlType() {
		resourceDataType = $('.data-label li.active').data('type');
		if (resourceDataType === 1) {
			getWithJavaTags(function (data1) {
				java_data = data1;
			});
			initWordcloud(java_data);
		} else if (resourceDataType === 2) {
			getUpvoteTags(function (data) {
				upvotes_data = data;
			});
			initWordcloud(upvotes_data);
		} else if (resourceDataType === 3) {
			getViewTags(function (data) {
				view_data = data;
			});
			initWordcloud( view_data);
		}
	}
	var num =0 ;
	//    资源类型定时器
	function resourceType() {
		$('.data-label li').eq(num).addClass('active').siblings().removeClass('active');
		//$('.active-data-label').html($('.canvas-pic-two .data-label li.active').html());
		urlType();
		num++;
		if (num >= 3) {
			num = 0;
		}
	}

	//    资源类型点击切换
	$('.data-label').on('click', 'li', function () {
		$(this).addClass('active').siblings().removeClass('active');
		urlType();
	});
	var oTimer = setInterval(resourceType, 3000);
	//    hover清除定时器
	$('.data-label').hover(function () {
		clearInterval(oTimer);
	}, function () {
		oTimer = setInterval(resourceType, 3000);
	});


</script>
//问题提出到解决的时间间隔分布(单位：秒)
<script>

	var myChart5 = echarts.init(document.getElementById('main5'));
	function updateChart5(){
		$.ajax({
			url: "/distribution-of-question-resolution-time",
			success: function (data) {
				var key = Object.keys(data);
				var value = key.map(function (k) {
					return data[k];
				});
				var values = [];
				for (var j = 0; j < key.length; j++) {
					let v=[];
					v.push(key[j],value[j]);
					values.push(v);
				}
				option = {
					tooltip: {trigger: 'axis',
						formatter: function (params, ticket, callback) {
							var res = '';
							for (var i = 0, l = params.length; i < l; i++) {
								res += ''  + params[i].value + '<br>';
							}
							return res;
						},
						transitionDuration: 0,
						backgroundColor: 'rgba(83,93,105,0.8)',
						borderColor: '#535b69',
						borderRadius: 8,
						borderWidth: 2,
						padding: [5, 10],
						axisPointer: {
							type: 'line',
							lineStyle: {
								type: 'dashed',
								color: '#ffff00'
							}
						}},
					xAxis: {},
					yAxis: {},
					series: [
						{
							name: '解决时间',
							symbolSize: 20,
							data: values,
							type: 'scatter'
						}
					]
				};
			myChart5.setOption(option);
		}
		});
	}
	updateChart5();
	setInterval(updateChart5, 50000);

</script>
//用户参与讨论的分布
<script>
	var myChart6 = echarts.init(document.getElementById('main6'));
	function getUserData(callback) {
		$.ajax({
			url: "/distribution-of-user-participation",
			success: function (data) {
				callback(data);
			}
		});
	}
	var userCnt1 = [];
	var userCnt2 = [];
	var userCnt3 = [];
	getUserData(function (data){
		for (var i = 0; i < data.length; i++) {
			var userData = data[i].split(" ");
			userCnt1.push(userData[0]);
			userCnt2.push(userData[1]);
			userCnt3.push(userData[2]);
		}
		// 处理完所有数据后执行图表更新操作
		init_myChart6();
	});
	function init_myChart6(){
		option = {
			color: ['#80FFA5', '#00DDFF', '#37A2FF', '#FF0087', '#FFBF00'],
			title: {
				text: ''
			},
			tooltip: {
				trigger: 'axis',
				axisPointer: {
					type: 'cross',
					label: {
						backgroundColor: '#6a7985'
					}
				}
			},
			legend: {
				data: ['总用户数', '回答者', '评论者']
			},
			toolbox: {
				feature: {
					saveAsImage: {}
				}
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis: [
				{
					type: 'category',
					boundaryGap: false,
				}
			],
			yAxis: [
				{
					type: 'value'
				}
			],
			series: [
				{
					name: '总用户数',
					type: 'line',
					stack: 'Total',
					smooth: true,
					lineStyle: {
						width: 0
					},
					showSymbol: false,
					areaStyle: {
						opacity: 0.8,
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
							{
								offset: 0,
								color: 'rgb(128, 255, 165)'
							},
							{
								offset: 1,
								color: 'rgb(1, 191, 236)'
							}
						])
					},
					emphasis: {
						focus: 'series'
					},
					data: userCnt1
				},
				{
					name: '回答者',
					type: 'line',
					stack: 'Total',
					smooth: true,
					lineStyle: {
						width: 0
					},
					showSymbol: false,
					areaStyle: {
						opacity: 0.8,
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
							{
								offset: 0,
								color: 'rgb(0, 221, 255)'
							},
							{
								offset: 1,
								color: 'rgb(77, 119, 255)'
							}
						])
					},
					emphasis: {
						focus: 'series'
					},
					data: userCnt2
				},
				{
					name: '评论者',
					type: 'line',
					stack: 'Total',
					smooth: true,
					lineStyle: {
						width: 0
					},
					showSymbol: false,
					areaStyle: {
						opacity: 0.8,
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
							{
								offset: 0,
								color: 'rgb(55, 162, 255)'
							},
							{
								offset: 1,
								color: 'rgb(116, 21, 219)'
							}
						])
					},
					emphasis: {
						focus: 'series'
					},
					data: userCnt3
				}
			]
		};
// 使用刚指定的配置项和数据显示图表。
		myChart6.setOption(option);
	}

</script>
//answer分布
<script>
	var myChart7 = echarts.init(document.getElementById('main7'));
	function getData(callback) {
		$.ajax({
			url: "/distribution-of-number-of-answers",
			success: function (data) {
				callback(data);
			}
		});
	}
	var Cnt = [];
	var year = [];
	getData(function (data){
		year = Object.keys(data);
		Cnt = year.map(function (key) {
			return data[key];
		});
		// 处理完所有数据后执行图表更新操作
		updateChart7();
	});
	function updateChart7(){
		var colorList = [
			'#ff2600',
			'#ffc000',
			'#00ad4e',
			'#0073c2',
			'#165868',
			'#e76f00',
			'#316194',
			'#723761',
			'#00b2f1',
			'#4d6022',
			'#4b83bf',
			'#f9c813',
			'#0176c0',
			'#ff2600',
			'#ffc000',
			'#00ad4e'
		];
		option = {
			color:colorList,
			"tooltip": {
				"trigger": "axis",
				transitionDuration: 0,
				backgroundColor: 'rgba(83,93,105,0.8)',
				borderColor: '#535b69',
				borderRadius: 8,
				borderWidth: 2,
				padding: [5, 10],
				formatter: function (params, ticket, callback) {
					var res = '';
					for (var i = 0, l = params.length; i < l; i++) {
						res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
					}
					return res;
				},
				axisPointer: {
					type: 'line',
					lineStyle: {
						type: 'dashed',
						color: '#ffff00'
					}
				}
			},
			toolbox: {
				show : true,
				feature : {
					mark : {
						show: true
					},

				}
			},
			grid: {
				"borderWidth": 0,
				"top": '40',
				"left": '30',
				"right": '10',
				"bottom": '40',
				textStyle: {
					color: "#fff"
				}
			},
			xAxis : [
				{
					'type': 'category',
					"axisTick": {
						"show": false
					},
					"axisLine": {
						"show": false,
						lineStyle: {
							color: '#868c96'
						}
					},
					"axisLabel": {
						"interval": 0,
						fontSize:10,
						formatter:function(value)
						{
							var ret = "";//拼接加\n返回的类目项
							var maxLength = 2;//每项显示文字个数
							var valLength = value.length;//X轴类目项的文字个数
							var rowN = Math.ceil(valLength / maxLength); //类目项需要换行的行数
							if (rowN > 1)//如果类目项的文字大于3,
							{
								for (var i = 0; i < rowN; i++) {
									var temp = "";//每次截取的字符串
									var start = i * maxLength;//开始截取的位置
									var end = start + maxLength;//结束截取的位置
									//这里也可以加一个是否是最后一行的判断，但是不加也没有影响，那就不加吧
									temp = value.substring(start, end) + "\n";
									ret += temp; //凭借最终的字符串
								}
								return ret;
							}
							else {
								return value;
							}
						}
					},
					"splitArea": {
						"show": false
					},
					'data': year,
					splitLine: {
						show: false
					},

				}
			],
			yAxis : [
				{
					"type": "value",
					offset: -14,
					"splitLine": {
						"show": false
					},
					"axisLine": {
						"show": false,
						lineStyle: {
							color: '#868c96'
						}
					},
					"axisTick": {
						"show": false
					},
					"axisLabel": {
						"interval": 0,
						fontSize:10

					},
					"splitArea": {
						"show": false
					}
				}

			],
			series : [
				{
					name:'回答数',
					type:'bar',
					data:Cnt,
					itemStyle: {
						normal: {
							color: function(params) {
								// build a color map as your need.
								var colorList = [
									'#ff2600',
									'#ffc000',
									'#00ad4e',
									'#0073c2',
									'#165868',
									'#e76f00',
									'#316194',
									'#723761',
									'#00b2f1',
									'#4d6022',
									'#4b83bf',
									'#f9c813',
									'#0176c0',
									'#ff2600',
									'#ffc000',
									'#00ad4e'
								];
								return colorList[params.dataIndex]
							},

						}
					},
					barWidth: 14,
					label: {
						normal: {
							show: true,
							position: "top",
							textStyle: {
								color: "#ffc72b",
								fontSize: 10
							}
						}
					},
				},
				{
					name:'折线',
					type:'line',
					itemStyle : {  /*设置折线颜色*/
						normal : {
							color:'#d3d5fd'
						}
					},
					data:Cnt
				}

			]
		};


// 使用刚指定的配置项和数据显示图表。
		myChart7.setOption(option);
	}

</script>
//apis词云
<script>
	var myChart1_3 = echarts.init(document.getElementById('main1-3'));
	function getWithJavaAPIs(callback) {
		$.ajax({
			url: "/most-used-JavaApi",
			success: function (data) {
				callback(data);
			}
		});
	}
	getWithJavaAPIs(function (data){
		initWordcloud1(data);
	});
	function initWordcloud1(data1) {
		var key = Object.keys(data1);
		var value = key.map(function (k) {
			return data1[k];
		});
		var values = [];
		for (var j = 0; j < key.length; j++) {
			values.push({
				'name':key[j],
				'value':value[j]
			})
		}
		option = {
			tooltip: {trigger: 'axis',
				formatter: function (params, ticket, callback) {
					var res = '';
					for (var i = 0, l = params.length; i < l; i++) {
						res += '' + params[i].seriesName + ' : ' + params[i].value + '<br>';
					}
					return res;
				},
				transitionDuration: 0,
				backgroundColor: 'rgba(83,93,105,0.8)',
				borderColor: '#535b69',
				borderRadius: 15,
				borderWidth: 2,
				padding: [5, 10],
				axisPointer: {
					type: 'line',
					lineStyle: {
						type: 'dashed',
						color: '#ffff00'
					}
				}},
			series: [{
				type: 'wordCloud',
				shape: {
					cloudGrow: 0.3
				},
				sizeRange: [15, 80],
				rotationRange: [-30, 30],
				gridSize: 3,
				drawOutOfBound: false,
				layoutAnimation: true,
				keepAspect: true,
				textStyle: {
					fontWeight: 'bold',
					color: function () {
						return 'rgb(' + [
							Math.round(Math.random() * 160),
							Math.round(Math.random() * 160),
							Math.round(Math.random() * 160)
						].join(',') + ')';
					}
				},
				emphasis: {
					textStyle: {
						shadowBlur: 15,
						shadowColor: '#333'
					}
				},
				data: values
			}]
		};
		myChart1_3.setOption(option);
	}

</script>
</body>
</html>
